Machinery Job Mgmt Dashboard/flow.json
[
    {
        "id": "4448bf6e380bd7b3",
        "type": "tab",
        "label": "JobManagement Client",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be8a23c7844d0394",
        "type": "OpcUa-Client",
        "z": "4448bf6e380bd7b3",
        "endpoint": "bdf28c31022dc704",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "2",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "setstatusandtime": true,
        "keepsessionalive": true,
        "name": "JobManagement-Client",
        "x": 890,
        "y": 120,
        "wires": [
            [
                "98a14f46f5f2db0b",
                "9689530b96510fd7",
                "4e445e9b93387101",
                "7527568b7faf809e",
                "512e60fb34c1bfc2"
            ],
            [
                "8888610fd7c68f50"
            ],
            []
        ]
    },
    {
        "id": "98a14f46f5f2db0b",
        "type": "debug",
        "z": "4448bf6e380bd7b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 40,
        "wires": []
    },
    {
        "id": "683205c6558f3fcd",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "JobManager-JobOrderControl-StoreAndStart",
        "func": "const NamespaceArray = flow.get(\"NamespaceArray\") || undefined\nif (NamespaceArray === undefined) return\n\nconst ISA95JobContorlIndex = NamespaceArray.indexOf(\"http://opcfoundation.org/UA/ISA95-JOBCONTROL_V2/\")\nif (ISA95JobContorlIndex === -1) return\n\nmsg.action = \"method\"\nmsg.topic  = flow.get(\"JobControlObjectNodeId\")\nmsg.objectId = flow.get(\"JobControlObjectNodeId\")\nmsg.methodId = flow.get(\"StoreAndStartMethodNodeId\")\nmsg.inputArguments = [\n    {\n        \"dataType\": \"ExtensionObject\", \n        \"value\": {\n            \"jobOrderID\": `${msg.payload.ID}`, // only ID is mandaory\n            \"description\": [\n                {\"locale\": \"en-EN\", \"text\": msg.payload.Description || \"---\"}\n            ],\n            \"priority\": msg.payload.Priority || 0\n        },\n        \"typeid\": `ns=${ISA95JobContorlIndex};i=3008`\n    },\n    {   \n        \"dataType\": \"LocalizedText\",\n        \"value\": [\n            `${msg.payload.Comment} || \"---\"`\n        ]\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 620,
        "wires": [
            [
                "be8a23c7844d0394"
            ]
        ]
    },
    {
        "id": "39d97564317d1557",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "Subscribe ISA95JobOrderStatusEvent",
        "func": "const NamespaceArray = flow.get(\"NamespaceArray\") || undefined\nif (NamespaceArray === undefined) return\n\nconst ISA95JobContorlIndex = NamespaceArray.indexOf(\"http://opcfoundation.org/UA/ISA95-JOBCONTROL_V2/\")\nif (ISA95JobContorlIndex === -1) return\n\nmsg = {}\nmsg.action = \"events\"\nmsg.topic = \"i=2253\"\nmsg.eventTypeIds = `ns=${ISA95JobContorlIndex};i=1006`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "be8a23c7844d0394"
            ]
        ]
    },
    {
        "id": "3de5290169afde7d",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "read NamespaceArray",
        "func": "msg.action = \"read\"\nmsg.topic = \"i=2255\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 280,
        "wires": [
            [
                "be8a23c7844d0394"
            ]
        ]
    },
    {
        "id": "9689530b96510fd7",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "flow.set(\"NamespaceArray\", msg.payload)",
        "func": "if (msg.topic === \"i=2255\") {\n    flow.set(\"NamespaceArray\", msg.payload)\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 140,
        "wires": [
            [
                "677f6da2d9dca301"
            ]
        ]
    },
    {
        "id": "8888610fd7c68f50",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "check session active",
        "func": "if (msg.status === \"session active\") return msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 100,
        "wires": [
            [
                "25967b9b3afd355a"
            ]
        ]
    },
    {
        "id": "b7319e096e865e85",
        "type": "comment",
        "z": "4448bf6e380bd7b3",
        "name": "OPC 40001-3: Machinery Job Mgmt",
        "info": "",
        "x": 180,
        "y": 500,
        "wires": []
    },
    {
        "id": "4e445e9b93387101",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "JobOrderResults",
        "func": "if (msg.payload.SourceName === \"JobOrderResults\") return msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 420,
        "wires": [
            [
                "351ae6f9a5fe1581"
            ]
        ]
    },
    {
        "id": "be2f826d99c2034a",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "Subscribe JobOrderList",
        "func": "msg = {}\nmsg.action = \"subscribe\"\nmsg.topic = flow.get(\"JobOrderListNodeId\")\nmsg.interval = 500\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 160,
        "wires": [
            [
                "be8a23c7844d0394"
            ]
        ]
    },
    {
        "id": "622981963bae6a3c",
        "type": "ui_table",
        "z": "4448bf6e380bd7b3",
        "group": "79c78ae2116548f2",
        "name": "",
        "order": 1,
        "width": "10",
        "height": "10",
        "columns": [
            {
                "field": "ID",
                "title": "ID",
                "width": "50%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "State",
                "title": "State",
                "width": "30%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Priority",
                "title": "Priority",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1770,
        "y": 320,
        "wires": []
    },
    {
        "id": "7527568b7faf809e",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "JobOrderList",
        "func": "if (msg.topic === flow.get(\"JobOrderListNodeId\")) {\n    const newMsg = {}\n    newMsg.topic = msg.topic\n    newMsg.payload = msg.payload\n    return newMsg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 320,
        "wires": [
            [
                "608590ec76da4aa6",
                "4dc24228bac1b982"
            ]
        ]
    },
    {
        "id": "608590ec76da4aa6",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "Format JobOrderList",
        "func": "const data = msg.payload\n\nmsg = {}\nmsg.payload = data.map((item) => {\n    const id = item.jobOrder[\"jobOrderID\"] || \"---\"\n    const state = item.state[0].stateText.text || \"---\"\n    const prio = item.jobOrder.priority || \"---\"\n    return {\n        \"ID\": `${id}`,\n        \"State\": `${state}`,\n        \"Priority\": `${prio}`,\n    }\n})\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 320,
        "wires": [
            [
                "622981963bae6a3c",
                "96b7f6469b04d213"
            ]
        ]
    },
    {
        "id": "6f32d389418f45c4",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "JobManager-JobOrderControl-Clear",
        "func": "const NamespaceArray = flow.get(\"NamespaceArray\") || undefined\nif (NamespaceArray === undefined) return\n\nconst ISA95JobContorlIndex = NamespaceArray.indexOf(\"http://opcfoundation.org/UA/ISA95-JOBCONTROL_V2/\")\nif (ISA95JobContorlIndex === -1) return\n\nconst id = msg.payload.ID\nconst comment = msg.payload.Comment\n\nmsg.action = \"method\"\nmsg.topic  = flow.get(\"JobControlObjectNodeId\")\nmsg.objectId = flow.get(\"JobControlObjectNodeId\")\nmsg.methodId = flow.get(\"ClearMethodNodeId\")\nmsg.inputArguments = [\n    {\n        \"dataType\": \"String\", \n        \"value\": `${msg.payload.ID}`\n    },\n    {\n        \"dataType\": \"LocalizedText\", \n        \"value\": [\n            `${msg.payload.Comment} || \"---\"`\n        ]\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 660,
        "wires": [
            [
                "be8a23c7844d0394"
            ]
        ]
    },
    {
        "id": "eff4278fd3384a5b",
        "type": "ui_form",
        "z": "4448bf6e380bd7b3",
        "name": "",
        "label": "StoreAndSart:",
        "group": "4be06e34014f6250",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID",
                "value": "ID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Description",
                "value": "Description",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Priority",
                "value": "Priority",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Comment",
                "value": "Comment",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "ID": "",
            "Description": "",
            "Priority": "",
            "Comment": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "683205c6558f3fcd"
            ]
        ]
    },
    {
        "id": "1ed6427a64b218eb",
        "type": "ui_toast",
        "z": "4448bf6e380bd7b3",
        "position": "bottom right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "JobResult notification",
        "x": 1720,
        "y": 420,
        "wires": []
    },
    {
        "id": "351ae6f9a5fe1581",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "Format JobResult-Notification",
        "func": "const NamespaceArray = flow.get(\"NamespaceArray\") || undefined\nif (NamespaceArray === undefined) return\n\nconst ISA95JobContorlIndex = NamespaceArray.indexOf(\"http://opcfoundation.org/UA/ISA95-JOBCONTROL_V2/\")\nif (ISA95JobContorlIndex === -1) return\n\n\nmsg.topic = \"ISA95JobOrderStatusEvent:\"\nmsg.payload = `JobOrderId='${msg.payload[`${ISA95JobContorlIndex}:JobOrder`].jobOrderID}' JobState='${msg.payload[`${ISA95JobContorlIndex}:JobState`][0].stateText.text}'`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 420,
        "wires": [
            [
                "1ed6427a64b218eb",
                "d29d588616d8d124"
            ]
        ]
    },
    {
        "id": "29b3c6726e94c1c9",
        "type": "ui_form",
        "z": "4448bf6e380bd7b3",
        "name": "",
        "label": "Clear:",
        "group": "4be06e34014f6250",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID",
                "value": "ID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Comment",
                "value": "Comment",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "ID": "",
            "Comment": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "6f32d389418f45c4"
            ]
        ]
    },
    {
        "id": "4dc24228bac1b982",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "Store JobOrderList",
        "func": "let list = msg.payload\nif (list === null) {\n    list = []\n}\nflow.set(\"JobOrderList\", list)\nreturn {}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 280,
        "wires": [
            [
                "39092bbf4561d25e"
            ]
        ]
    },
    {
        "id": "39092bbf4561d25e",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "Update JobOrderList",
        "func": "const data = flow.get(\"JobOrderList\")\n\nmsg = {}\nmsg.payload = data.map((item) => {\n    const id = item.jobOrder[\"jobOrderID\"] || \"---\"\n    const state = item.state[0].stateText.text || \"---\"\n    const prio = item.jobOrder.priority || \"---\"\n    return {\n        \"ID\": `${id}`,\n        \"State\": `${state}`,\n        \"Priority\": `${prio}`,\n    }\n})\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 200,
        "wires": [
            [
                "622981963bae6a3c",
                "96b7f6469b04d213"
            ]
        ]
    },
    {
        "id": "ecfd298671f96c9d",
        "type": "catch",
        "z": "4448bf6e380bd7b3",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d29d588616d8d124",
        "type": "ui_text",
        "z": "4448bf6e380bd7b3",
        "group": "36261b9a964f98de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last StatusEvent:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1710,
        "y": 460,
        "wires": []
    },
    {
        "id": "055c4a99415dae69",
        "type": "ui_form",
        "z": "4448bf6e380bd7b3",
        "name": "",
        "label": "RequestJobResponseByJobOrderID:",
        "group": "36261b9a964f98de",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID",
                "value": "ID",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "06684255c91a264a"
            ]
        ]
    },
    {
        "id": "06684255c91a264a",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "JobManager-JobOrderResults-RequestJobResponseByJobOrderID",
        "func": "msg.action = \"method\"\nmsg.topic  = flow.get(\"JobOrderResultsObjectNodeId\")\nmsg.objectId = flow.get(\"JobOrderResultsObjectNodeId\")\nmsg.methodId = flow.get(\"JobOrderResultsMethodNodeId\")\nmsg.inputArguments = [\n    {\n        \"dataType\": \"String\", \n        \"value\": `${msg.payload.ID}`,\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 760,
        "wires": [
            [
                "be8a23c7844d0394"
            ]
        ]
    },
    {
        "id": "512e60fb34c1bfc2",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "RequestJobResponseByJobOrderID",
        "func": "const id = flow.get(\"JobOrderResultsMethodNodeId\") || undefined\nif (id === undefined) return\nif (msg.methodId === id) return msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 500,
        "wires": [
            [
                "c86a2c056b54e5bb"
            ]
        ]
    },
    {
        "id": "6f214ea4fc6d6cd7",
        "type": "ui_button",
        "z": "4448bf6e380bd7b3",
        "name": "",
        "group": "79c78ae2116548f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1160,
        "y": 200,
        "wires": [
            [
                "39092bbf4561d25e"
            ]
        ]
    },
    {
        "id": "01697e717dc3937d",
        "type": "ui_text",
        "z": "4448bf6e380bd7b3",
        "group": "79c78ae2116548f2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "last refresh:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1850,
        "y": 200,
        "wires": []
    },
    {
        "id": "96b7f6469b04d213",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "getTimeString",
        "func": "msg.payload = new Date().toISOString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 200,
        "wires": [
            [
                "01697e717dc3937d"
            ]
        ]
    },
    {
        "id": "c56b0747249105e6",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "JobManager-JobOrderControl-Store",
        "func": "const NamespaceArray = flow.get(\"NamespaceArray\") || undefined\nif (NamespaceArray === undefined) return\n\nconst ISA95JobContorlIndex = NamespaceArray.indexOf(\"http://opcfoundation.org/UA/ISA95-JOBCONTROL_V2/\")\nif (ISA95JobContorlIndex === -1) return\n\nmsg.action = \"method\"\nmsg.topic  = flow.get(\"JobControlObjectNodeId\")\nmsg.objectId = flow.get(\"JobControlObjectNodeId\")\nmsg.methodId = flow.get(\"StoreMethodNodeId\")\nmsg.inputArguments = [\n    {\n        \"dataType\": \"ExtensionObject\", \n        \"value\": {\n            \"jobOrderID\": `${msg.payload.ID}`, // only ID is mandaory\n            \"description\": [\n                {\"locale\": \"en-EN\", \"text\": msg.payload.Description || \"---\"}\n            ],\n            \"priority\": msg.payload.Priority || 0\n        },\n        \"typeid\": `ns=${ISA95JobContorlIndex};i=3008`\n    },\n    {   \n        \"dataType\": \"LocalizedText\",\n        \"value\": [\n            `${msg.payload.Comment} || \"---\"`\n        ]\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 580,
        "wires": [
            [
                "be8a23c7844d0394"
            ]
        ]
    },
    {
        "id": "35e3fc603d3f36ec",
        "type": "ui_form",
        "z": "4448bf6e380bd7b3",
        "name": "",
        "label": "Start:",
        "group": "4be06e34014f6250",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID",
                "value": "ID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Comment",
                "value": "Comment",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "ID": "",
            "Comment": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "5ffafe232e8faff5"
            ]
        ]
    },
    {
        "id": "5ffafe232e8faff5",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "JobManager-JobOrderControl-Start",
        "func": "const id = msg.payload.ID\nconst comment = msg.payload.Comment\n\nmsg.action = \"method\"\nmsg.topic  = flow.get(\"JobControlObjectNodeId\")\nmsg.objectId = flow.get(\"JobControlObjectNodeId\")\nmsg.methodId = flow.get(\"StartMethodNodeId\")\nmsg.inputArguments = [\n    {\n        \"dataType\": \"String\", \n        \"value\": msg.payload.ID,\n    },\n    {\n        \"dataType\": \"LocalizedText\", \n        \"value\": [\n            `${msg.payload.Comment} || \"---\"`\n        ]\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "be8a23c7844d0394"
            ]
        ]
    },
    {
        "id": "154acdfcfc4e1d6d",
        "type": "ui_form",
        "z": "4448bf6e380bd7b3",
        "name": "",
        "label": "Store:",
        "group": "4be06e34014f6250",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID",
                "value": "ID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Description",
                "value": "Description",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Priority",
                "value": "Priority",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Comment",
                "value": "Comment",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "ID": "",
            "Description": "",
            "Priority": "",
            "Comment": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "c56b0747249105e6"
            ]
        ]
    },
    {
        "id": "c86a2c056b54e5bb",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "Format JobResult-Notification",
        "func": "const NamespaceArray = flow.get(\"NamespaceArray\") || undefined\nif (NamespaceArray === undefined) return\n\nconst ISA95JobContorlIndex = NamespaceArray.indexOf(\"http://opcfoundation.org/UA/ISA95-JOBCONTROL_V2/\")\nif (ISA95JobContorlIndex === -1) return\n\nnewMsg = {}\nnewMsg.topic = \"RequestJobResponseByJobOrderID:\"\nnewMsg.payload = `JobOrderId='${msg.payload[0].jobOrderID}' JobState='${msg.payload[0].jobState[0].stateText.text}'`\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 520,
        "wires": [
            [
                "784c74f6c99da674",
                "d29d588616d8d124"
            ]
        ]
    },
    {
        "id": "784c74f6c99da674",
        "type": "ui_toast",
        "z": "4448bf6e380bd7b3",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "RequestJobResponseByJobOrderID notification",
        "x": 1920,
        "y": 540,
        "wires": []
    },
    {
        "id": "677f6da2d9dca301",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "Load Configuration",
        "func": "const NamespaceArray = flow.get(\"NamespaceArray\") || undefined\nif (NamespaceArray === undefined) return\n\nconst machineName = \"MyControledMachine\"\nconst MachineInstanceNamespace = \"http://MyControledMachine-Namespace/UA\"\nconst JobManagerInstanceIdentifier = \"s=MyControledMachine-JobManager\"\nconst instanceIndex = NamespaceArray.indexOf(MachineInstanceNamespace)\nif (instanceIndex === -1) return\nflow.set(\"JobManagerInstanceNodeId\", `ns=${instanceIndex};${JobManagerInstanceIdentifier}`)\n\nconst JobControlObjectNodeId = `ns=${instanceIndex};s=MyControledMachine-JobManager-JobOrderControl`\nflow.set(\"JobControlObjectNodeId\", JobControlObjectNodeId)\nconst StartMethodNodeId = `ns=${instanceIndex};s=MyControledMachine-JobManager-JobOrderControl-Start`\nflow.set(\"StartMethodNodeId\", StartMethodNodeId)\nconst StopMethodNodeId = `ns=${instanceIndex};s=MyControledMachine-JobManager-JobOrderControl-Stop`\nflow.set(\"StopMethodNodeId\", StopMethodNodeId)\nconst ClearMethodNodeId = `ns=${instanceIndex};s=MyControledMachine-JobManager-JobOrderControl-Clear`\nflow.set(\"ClearMethodNodeId\", ClearMethodNodeId)\nconst StoreAndStartMethodNodeId = `ns=${instanceIndex};s=MyControledMachine-JobManager-JobOrderControl-StoreAndStart`\nconst StoreMethodNodeId = `ns=${instanceIndex};s=MyControledMachine-JobManager-JobOrderControl-Store`\nflow.set(\"StoreMethodNodeId\", StoreMethodNodeId)\nflow.set(\"StoreAndStartMethodNodeId\", StoreAndStartMethodNodeId)\nconst JobOrderListNodeId = `ns=${instanceIndex};s=MyControledMachine-JobManager-JobOrderControl-JobOrderList`\nflow.set(\"JobOrderListNodeId\", JobOrderListNodeId)\n\nconst JobOrderResultsObjectNodeId = `ns=${instanceIndex};s=MyControledMachine-JobManager-JobOrderResults`\nflow.set(\"JobOrderResultsObjectNodeId\", JobOrderResultsObjectNodeId)\nconst JobOrderResultsMethodNodeId = `ns=${instanceIndex};s=MyControledMachine-JobManager-JobOrderResults-RequestJobResponseByJobOrderID`\nflow.set(\"JobOrderResultsMethodNodeId\", JobOrderResultsMethodNodeId)\n\nflow.set(\"Initialized\", true)\n\nreturn {}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 140,
        "wires": [
            [
                "554c9b6b51f7eb2f"
            ]
        ]
    },
    {
        "id": "e024a00abeef2c9d",
        "type": "function",
        "z": "4448bf6e380bd7b3",
        "name": "read JobOrderList",
        "func": "msg.action = \"read\"\nmsg.topic = flow.get(\"JobOrderListNodeId\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 120,
        "wires": [
            [
                "be8a23c7844d0394"
            ]
        ]
    },
    {
        "id": "25967b9b3afd355a",
        "type": "link out",
        "z": "4448bf6e380bd7b3",
        "name": "session active",
        "mode": "link",
        "links": [
            "746692d073865669"
        ],
        "x": 1345,
        "y": 100,
        "wires": []
    },
    {
        "id": "746692d073865669",
        "type": "link in",
        "z": "4448bf6e380bd7b3",
        "name": "link in 2",
        "links": [
            "25967b9b3afd355a"
        ],
        "x": 75,
        "y": 280,
        "wires": [
            [
                "3de5290169afde7d"
            ]
        ]
    },
    {
        "id": "554c9b6b51f7eb2f",
        "type": "link out",
        "z": "4448bf6e380bd7b3",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "d92474f69ee449ec"
        ],
        "x": 1685,
        "y": 140,
        "wires": []
    },
    {
        "id": "d92474f69ee449ec",
        "type": "link in",
        "z": "4448bf6e380bd7b3",
        "name": "link in 3",
        "links": [
            "554c9b6b51f7eb2f"
        ],
        "x": 75,
        "y": 160,
        "wires": [
            [
                "e024a00abeef2c9d",
                "be2f826d99c2034a",
                "39d97564317d1557"
            ]
        ]
    },
    {
        "id": "bdf28c31022dc704",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://127.0.0.1:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "79c78ae2116548f2",
        "type": "ui_group",
        "name": "JobOrderList",
        "tab": "918e78662789214f",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4be06e34014f6250",
        "type": "ui_group",
        "name": "JobOrderReceiver",
        "tab": "918e78662789214f",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "36261b9a964f98de",
        "type": "ui_group",
        "name": "JobResponseProvider",
        "tab": "918e78662789214f",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "918e78662789214f",
        "type": "ui_tab",
        "name": "OPC 40001-3: Machinery Job Mgmt [opc.tcp://opcua.umati.app:4843]",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]